.chat-screen {
    background-color: #abc1d1;
    height: 500vh;
}

.chat-screen .status-bar {
    background-color: inherit;
}

.chat-screen .alt-header {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: inherit;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.chat-screen .main-chat {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1s linear;
}

.chat__timestmap {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.116);
    color: white;
    padding: 10px 20px;
    font-size: 13px;
    border-radius: 20px;
    margin-bottom: 25px;
}

@keyframes fromComeLeft {
    from {
        transform: translateX(-10px);
    }

    to {
        transform: none;
    }
}

.message-row {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
    animation: fromComeLeft 1s linear;
}

.message-row img {
    width: 40px;
    height: 40px;
    border-radius: 15px;
    margin-right: 5px;
}

.message-row__content {
    display: flex;
    flex-direction: column;
}

.message__author {
    opacity: 0.8;
    font-size: 15px;
    margin-bottom: 7px;
}

.message__info {
    display: flex;
    align-items: flex-end;
}

.message__bubble {
    background-color: white;
    padding: 12px;
    border-radius: 13px;
    border-top-left-radius: 0;
    margin-right: 5px;
    font-size: 18px;
}

.message__time {
    font-size: 12px;
    opacity: 0.8;
}

@keyframes fromComeRight {
    from {
        transform: translateX(10px);
    }

    to {
        transform: none;
    }
}

.message-row--own {
    justify-content: flex-end;
    animation: fromComeRight 1s linear;
}

.message-row--own .message__bubble {
    border-top-right-radius: 0;
    border-top-left-radius: 13px;
    background-color: var(--yellow);
    margin-right: 0px;
    margin-left: 5px;
}

.message-row--own .message__info {
    flex-direction: row-reverse;
}

.reply {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    box-sizing: border-box;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.reply .reply__column:first-child {
    width: 10%;
}
.reply .reply__column:last-child {
    width: 90%;
    position: relative;
}

.reply i {
    opacity: 0.5;
}

.reply input {
    padding: 14px;
    width: 100%;
    border: var(--main-border);
    border-radius: 25px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
    position: absolute;
    right: 3px;
    top: 3px;
}

.reply__column:last-child > i {
    right: 50px;
    top: 15px;
}

.reply__column button {
    background-color: var(--yellow);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.reply__column button i {
    opacity: 1;
}
.reply__column button:focus,
.reply__column button:active {
    outline: none;
}

.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
    transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
    opacity: 0;
}

.reply input:focus {
    width: 98vw;
    transform: translateX(-13%) translateY(-80px);
}

.reply:focus-within {
    transform: translateY(80px);
}
