.find-screen .icon-row {
    justify-content: space-between;
}

.recommended-friends {
    padding: 20px 0;
    color: var(--grey);
    font-weight: 600;
    font-size: var(--title-font-size);
    display: flex;
    flex-direction: column;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}

.recommended-friends p {
    font-size: 16px;
    margin: 60px 0;
    text-align: center;
    opacity: 0.6;
}

.open-chat {
    padding: 20px 0;
}

.open-chat__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    color: var(--grey);
    font-weight: 600;
    font-size: 14px;
}

.open-chat__header a {
    opacity: 0.6;
}

.open-chat__header a i {
    margin-left: 5px;
}

.open-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: var(--main-border);
}

.open-post__column {
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--grey);
}

.open-post__title {
    font-size: var(--title-font-size);
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.open-post__hashtags {
    text-transform: uppercase;
    margin: 6px 0;
}

.open-post__members {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
}

.open-post__members img {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    border: var(--light-border);
}

.open-post__member-count {
    font-size: 13px;
}

.open-post__members .divider {
    background-color: var(--grey);
    opacity: 0.4;
    width: 1.7px;
    height: 15px;
}

.open-post__member-status {
    color: #ffaddf;
    padding-left: 5px;
    font-size: 13px;
}

.open-post__main-img img {
    width: 90px;
    height: 90px;
    border-radius: 10px;
}

.open-chat__heart-count {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.61);
    color: white;
    border-radius: 15px;
    padding: 7px;
    font-size: 10px;
    position: absolute;
    bottom: 6px;
    right: 6px;
}

@keyframes heartBeat {
    0% {
        color: white;
        transform: none;
    }
    50% {
        color: #ffaddf;
        transform: scale(1.5);
    }
    100% {
        color: white;
        transform: none;
    }
}

.open-chat__heart-count i {
    padding-right: 4px;
}

.open-chat__heart-count:hover i {
    animation: heartBeat 1s linear infinite;
    will-change: transform;
}
