.more-screen .icon-row {
    padding: 20px 0;
    justify-content: flex-start;
}

.more-screen .icon-row__icon {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.8);
    margin: 0 30px;
}

.more-suggestions {
    border-top: var(--main-border);
    padding-top: 20px;
}

.more-suggestions__title {
    font-size: var(--title-font-size);
    color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
    margin-bottom: 20px;
}

.more-suggestions__icons {
    display: flex;
    justify-content: flex-start;
}

.more-suggestions__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
}

.more-suggestions__icon-image {
    background-color: var(--yellow);
    width: 60px;
    height: 60px;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    margin-bottom: 10px;
}

.more-suggestions__icon-text {
    font-size: 13px;
    color: var(--grey);
}
