.alt-header {
    padding: var(--horizontal-space);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.alt-header__column {
    width: 33%;
}

.alt-header__title {
    font-size: 22px;
    font-weight: 700;
}

.alt-header__column:first-child {
    margin-right: auto;
}

.alt-header__column:nth-child(2) {
    text-align: center;
}

.alt-header__column:last-child {
    display: flex;
    justify-content: flex-end;
}

.alt-header__column span:last-child {
    margin-left: 30px;
}

.settings-setting {
    font-size: 22px;
    display: flex;
    align-items: center;
    opacity: 0.8;
    padding: 20px 0;
    border-bottom: var(--main-border);
    justify-content: space-between;
}

.settings-setting i {
    margin-right: 25px;
}

.settings-setting__column:last-child {
    opacity: 0.5;
}
