.nav__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    border: 1px;
    border-top: 1px solid #f0f0f0;
    height: 52px;
}

.nav__link {
    position: relative;
    color: #2f363e;
}

.nav__notification {
    position: absolute;
    bottom: 7px;
    left: 15px;
}
